/node_modules
/public/hot
/public/css
/public/js
/public/svg
/public/storage
/public/vendor
/storage/*.key
/vendor
/storage/api-docs
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
testing.sqlite
